.navbar {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  margin: 3rem;
}

#item {
  width: 300px;
  text-decoration: none;
  text-align: center;
}

#starship-div {
  height: 80px;
  background-color: darkslategray;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: .3rem;
  width: 70%
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.block {
  background-color: darkslategray;
  width: fit-content;
  border-radius: .3rem;
  font-size: 30px;
  padding: 1rem;
  color: white;
}

#link {
  color: white;
}

.results {
  padding: 1rem;
}